.main-content {
  display: flex;
  align-items: center;
}

.left-side {
  flex: 1;
  padding: 50px;
  font-size: x-large;
  text-align: center;
  margin: 105px;
}
.left-side>div{  
  flex: 1;}

.left-side h1 {
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}
.left-side>button{
  padding: 10px;
  width: 30%;
  margin-left: 30%;
  margin-top: 5%;

}

.pains{
  text-align: center;
  padding: 20px;
  margin: 20px;
  color: rgb(119, 113, 113);
}
.painss{
  text-align: center;
  color: #399778;
}
.painsss{
  text-align: center;
}

.right-side {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  
}
.video-containerr{
  margin: 10px;
  padding: 0px;
  display: inline-block;
  width: 170px;
}
.video-containerr video{
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  width: 100%;
  margin-top: 5px;
}

.video-containe {
  position: relative;
  margin: 0px;
  overflow: hidden;
  padding: 10px;
  width: 380px;
}
.video-containe>video{
  width: 100%;
  border-radius:25px ;
  height: auto;
}
.video-containerr:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.video-containe:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.image-mobileq{
  position: relative;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  width: 250px;
  border-radius: 25px;
}
.image-mobileq >video{
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  width: 200px;
}
.image-mobileq:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.image-mobileq{
  display: none;
}
.image-overlay{
  text-align: center;
}
.extra{
  display: none;
}

@media (max-width: 640px) {
  /* Styles for mobile devices */
  .main-content {
    flex-direction: column; /* Stack content vertically */
  }

  .left-side {
      flex: 1; /* Allow both sides to take full width */
  }
  .right-side{
    padding: 10px;
    align-items: center;
    flex-direction: column;
  }

  .left-side {
      font-size:small;
      padding: 20px;
      margin: 20px;
  }

  .left-side > button {
      padding: 10px;
      margin-left: 35%;
      margin-top: 10%;
  }
  .left-side >h1{
    text-align: center;
  }
  .video-containe, .video-containerr{
    width: auto;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}
.video-containe>video{
  display: none;
}
.video-containe{
  display: none;
}

  .video-containerr>video{
    width: 80%; 
    padding: 0px; 
    margin-right: 10%;
    margin-left:  10%;

  }
  .extra{
    display: flex;
  }

  .image-mobileq{
    display:flex;
    width: 100%;
    align-items: center;
    margin-left: 30px;
  }
  .image-mobileq > video {
    width: 80%; 
    padding: 0px; 
    margin: 10px; 
}
.video-containerr:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

}